<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
	integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
	integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	crossorigin="anonymous"></script>

<title>Insert title here</title>
</head>

</body>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form action="#" th:action="@{/aluno/save}" th:object="${aluno}"
				method="POST">

				<input class="form-control" type="hidden" th:field="*{matricula}" /> <!-- quando salvar enviar atributo nulo / objetivo: nao gerar "error" -->

				<div class="form-group">
					<label th:text="Nome"></label> <input class="form-control"
						type="text" th:field="*{nome}" required />
				</div>
				<div class="form-group">
					<label th:text="Cpf"></label> <input class="form-control"
						type="text" th:field="*{cpf}" required />
				</div>
				<div class="form-group">
					<label th:text="Nascimento"></label> 
					<input class="form-control" type="date" th:field="*{dataNascimento}" required />
				</div>
				<div class="form-group">
					<label th:text="'Nome do Pai'"></label> 
					<input class="form-control" type="text" th:field="*{nomePai}" required />
				</div>
				<div class="form-group">
					<label th:text="'Nome do Mae'"></label>
					<input class="form-control" type="text" th:field="*{nomeMae}" required />
				</div>
				
				<div class="form-check">
					<ul th:each="bolsa: ${tiposAlunosAll}" class="list-unstyled">
						<li><input type="radio" th:field="*{tipoDeAluno}"
							th:value="${bolsa}" class="form-check-input" /> <label
							th:text="${bolsa.nome}" class="form-check-label"></label></li>

					</ul>
				</div>

				<input type="submit" value="Enviar" class="btn btn-primary" />

			</form>
		</div>
	</div>
</div>
</body>
</html>