<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
	integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
	integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	crossorigin="anonymous"></script>

<title>Lista de Alunos</title>
<link rel="stylesheet" type="text/css" href="../../static/style.css" />
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Sistema Escolar</a>

			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Cadastrar </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="http://localhost:8080/aluno/new">Aluno</a>
						<a class="dropdown-item" href="http://localhost:8080/professor/new">Professor</a> 
						<a class="dropdown-item" href="http://localhost:8080/escola/new">Escola</a> 
						<a class="dropdown-item" href="http://localhost:8080/disciplina/new">Disciplina</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Listas </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="http://localhost:8080/aluno/list">Aluno</a>
						<a class="dropdown-item" href="http://localhost:8080/professor/list">Professor</a> 
						<a class="dropdown-item" href="http://localhost:8080/escola/list">Escola</a> 
						<a class="dropdown-item" href="http://localhost:8080/disciplina/list">Disciplina</a>
					</div>
				</li>
			</ul>
		</nav>

		<div class="row">
			<div class="col-md-8">
				<h2 th:text="${message}"></h2>
				<table class="table" th:unless="${#lists.isEmpty(escolasList)}">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e,status : ${escolasList}">
							<td th:text="${status.count}"></td>
							<td th:text="${e.nome}"></td>
							<td>
								<a href="escola/form.html" th:href="@{'/escola/edit-'+${e.codigo}+'-escola'}">
									<button class="btn btn-primary">editar</button>
								</a>
								<a href="escola/list.html" th:href="@{/escola/delete(escolaId=${e.codigo})}">
									<button class="btn btn-danger">deletar</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>